*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px
  }  
  
  
  /*grids*/
  
  
  .grid-container{
    margin:0;
    display:grid;
    grid-template-columns: 1.1fr 4fr 1.3fr;
    grid-template-rows: 1fr minmax(635px, auto) 1fr;
    grid-template-areas:
      "header    header header"
      "sidebar   main   sidebar2"
      "footer    footer footer";
  }
  .grid-container-other{
    margin:0;
    display:grid;
    grid-template-rows: 1fr minmax(635px, auto) 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  
  
  main{
    grid-area: main;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
  }
  
  html {
    background-color: #D5EFF5;
    font-size: 20px;
  }
  
  h1 {
    color: #0D9DE8;
    text-align: center;
  }
  li {
    margin-left: 20px;
  }
  h2 {
    list-style-type: none;
    font-weight: bolder;
  }
  
  .special {
    color: red
  }
  
  /* when they're in the same hiearchy*/
  h2 + dl {
    font-size: 90%;
  }
  
  a:link {
    text-decoration: none;
  }
  
  
  
  a:hover {
    text-decoration: underline;
  }
  
  /*
  body h1 + p .special {
  }
  
  This will style any element with a 
  class of special, which is inside a <p>, which comes just after an <h1>, which is inside a <body>
  
  */
  
  header{
    grid-area: header;
    background-color: rgb(27, 27, 27);
  }
  
  header::after {
    content: '';
    display: table;
    clear: both;
  }
  
  nav {
    float:right;
    padding:7px;
    
  }
  
  .logo{
    float:left;
    cursor: pointer;
  }
  #search {
    float:right;
    border-radius: 20px;
  }
  nav ul{
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    font-size: medium;
   
  }
  nav ul a:hover{
    background: red;
  }
  
  nav ul a{
    color:white;
  
  }
  nav ul li{
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 17px;
    
  }
  
  .dropMenu{
    display: none;
    background-color: rgb(0, 0, 0);
    opacity: 0.88;
    color:white;
    text-decoration: none;
    position: absolute;
    border-radius: 6px;
    padding-top: 12px;
    margin-bottom: 5px;
    z-index: 1;
  }
  
  .listHover:hover ul{
    display:block;
  }
  
  .dropMenu li a:hover{
    background: red;
   
  }
  .dropMenu li{
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    
  }
  
  footer{
    grid-area: footer;
    background-color: black;
    color:white;
  }
  
  
  
  .left-sidebar{
    grid-area: sidebar;
    background-color: white;
  }
  
  .right-sidebar{
    grid-area: sidebar2;
    background-color: white;
  }
  
  /* Social media icons */
  
  .social{
    position: fixed;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-245px, 0);
  }
  
  .social a{
    color: black;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 20px;
    width: 300px;
    text-align: right;
    border-radius: 50px;
    transition: 0.7s;
    transition-property: transform;
    
  }
  
  .social a:hover{
    transform: translate(140px, 0);
    text-decoration: none;
  }
  
  .social i{
    margin-left: 10px;
    font-size: 30px;
    width: 30px;
    height: 30px;
  }
  
  .social a:nth-child(1) i{
    color: #1DA0F0;
  }
  
  .social a:nth-child(2) i{
    color: #F80000;
  }
  
  .social a:nth-child(3) i{
    color: transparent;
    background-image: linear-gradient(45deg, #FFDF9E, #E56969, #8A49A1);
    -webkit-background-clip: text;
    font-weight: 600;
  }
  
  .social a:nth-child(4) i{
    color: #4ECCE8;
  }
                             
  .fb-like{
    transform: translate(5%, -30%);
    
  }
  
  
  /*login*/
  
  .loginMain{
    background-color: white;
  }
  .loginBox{
    width: 320px;
    height: 420px;
    background: rgb(255, 255, 255);
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
  }
  
  .loginBox h1{
    margin:0;
    margin-bottom: 20px;
    padding:0;
    font-weight:bold;
    text-align: left;
  }
  
  .loginBox input{
    width: 100%;
    margin-bottom: 20px;
  }
  
  .loginBox p{
    margin-bottom: 5px;
  }
  
  .loginBox input[type="submit"]{
    border-radius: 20px;
    background-color: rgb(0, 119, 255);
    cursor: pointer;
    border-color: black;
    color: white;
  }
  .loginBox a{
    text-decoration: none;
    color:black;
  }
  
  .typingContainer{
    transform: translate(-50%,-50%);
    position:absolute;
    top: 40%;
    left: 50%;
    
  }
  .text-Input{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    resize:none;
    outline:none;
    border: 2px solid rgb(168, 168, 168);
    padding: 5px;
    transform: translate(10%,10%);
  }
  
  .text-Input:focus{
    border: 2.5px solid rgb(0, 0, 0);
  }
  .text-display{
    position: relative;
    font-size: 40px;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    
  }
  
  .textBox{
    height: 130px;
    width: 900px;
    border: 2px solid black;
    position: relative;
    margin-bottom: 10px;
    overflow:hidden;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    word-break: keep-all;
  }
  .correct{
    color: green
  }
  
  .wrong{
    color: red;
  }
  
  .progressBar{
    transform: translate(-5.45%,-50%);
  }